@import "_variables", "_styles";

.contact-header {
  flex-direction: column;
  color: white;
  width: 100%;

  &-title {
    padding-top: 93px;
    font-size: 34px;
    padding-left: 113.5px;
    padding-right: 113.5px;
    margin: auto;
    padding-bottom: 16px;
    @media (min-width: 992px) {
      font-size: 60px;
      padding-bottom: 0;
    }
  }
  &-description {
    font-size: 14px;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;

    padding: 0px 16px;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
}

.contact-forms {
  background-color: #26292d;
  color: white;
  flex-direction: column;
  border-radius: 8px;
  max-width: 90%;
  padding: 16px 20px;
  background-color: #1c1e22;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 8px 16px 64px 16px;
  align-items: center;
  // margin-left: 16px;
  // margin-right: 16px;
  // margin-bottom: 64px;
  @media (min-width: 992px) {
    max-width: 447px;
    max-height: 546px;
    margin-left: 38%;
    margin-bottom: 128px;
  }
  &-username-label,
  &-useremail-label,
  &-usermessage-label {
    font-size: 16px;

    display: block;
    padding-bottom: 8px;
  }
  &-username-input,
  &-useremail-input {
    font-size: 16px;
    padding: 16px 0px 16px 20px;
    display: block;
    margin-bottom: 24px;
    border: 1px solid #a0a0a1;
    border-radius: 8px;
    background-color: #1c1e22;
    color: #a0a0a1;
    font-family: DM Sans;
    @media (min-width: 992px) {
      width: 399px;
    }
  }
  &-usermessage-input {
    font-size: 16px;
    padding: 16px 0px 106px 20px;

    display: block;
    margin-bottom: 24px;
    border: 1px solid #a0a0a1;
    border-radius: 8px;
    background-color: #1c1e22;
    color: #a0a0a1;
    font-family: DM Sans;
    @media (min-width: 992px) {
      width: 399px;
    }
  }
  &-submit {
    color: #ffffff;
    background-color: #5c62ec;
    border: 0px;
    padding: 16px 119.5px 16px 119.5px;
    border-radius: 8px;
    @media (min-width: 992px) {
      width: 419px;
    }
  }
}
